main h1  {
    font-size: clamp(1rem, 0.525rem + 2.375vw, 3.375rem);
    font-family: var(--accentFont);
    text-align: center;
}
main a {
    font-size: clamp(1rem, 0.525rem + 2.375vw, 3.375rem);
    font-family: var(--accentFont);
    color: blue;
    text-decoration: dashed;    
    text-align: center;
}