/* .pageConcurs {
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
} */
.pageConcurs {
    margin: 0 auto;
    max-width: 1000px; 

}
.pageConcurs .center {
    justify-content: space-between;
    
    flex-wrap: wrap;
    height: auto;
    display: flex;
}

.pageConcurs .flex .box .flex {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &>img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

}

.pageConcurs .left {
    width: 100%;
    max-width: 600px;
}

.pageConcurs .title {
    font-size: clamp(1rem, 0.525rem + 2.375vw, 3.375rem);
    font-family: var(--basicFont);
    font-weight: 400;
}
.pageConcurs  .desc {
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-family: var(--middleFont);
}





.pageConcurs  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width:  718px) {
    .pageConcurs .center {
        display: block;
    }
}