:root {
    /* fonts */

    --accentFont: "Georgia", serif;
    --middleFont: "Trebuchet MS", sans-serif;
    --basicFont: "Segoe UI";

    /* colors */

    --accentColor:#ffffff;
    --middleColor: #46573f;
    --basicColor: #80ff4d;



    

}