    <footer>
        <div class="container">
            <div class="left">
                <a href="tel:+88007894567">8 (800) 789-45-67</a>
                <a href="mailto:artmir@artmir.ru">artmir@artmir.ru</a>
            </div>
            <div class="right">
                <a href="../pages/index.html">Главная</a>
                <a href="../pages/index-light.html">Главная-светлая</a> 
                <a href="../pages/other/registration.html">Регистрация</a>
                <a href="#concurs">Конкурс</a> 
                <a href="../pages/other/account.html">Личный кабинет</a> 
                <a href="../pages/other/404.html">Страница не найдена</a>             
            </div>
        </div>
    </footer>